
<!-- Adjusted from https://github.com/jmgirard/affcomlab/blob/378a6e4167af5ed462e06ad4a39206e85fad9ff6/ejs/article.ejs  -->
<!-- TODO: N`ote that Markdown formatting is not yet properly parsed: https://github.com/quarto-dev/quarto-cli/issues/3468 -->
```{=html}
<ul class="pub-list list" style="list-style:none">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <a href="<%- item.path %>" style="text-decoration:none; color:inherit;"> 
    <div id="pub-<%= item.title.toLowerCase().split(' ').join('_') %>">
        <span class="listing-title lead"><b><%= item.title %></b></span><br />
        <span class="listing-author"><%= item.author %></span><br />
        <span class="listing-publication fst-italic "><%= item.publication %></span>
        <span class="listing-year">(<%= item.date.split(" ").slice(-1) %>)</span><br />
    </div> </a>
    <div>
        <a href="<%- item.path %>" class="btn btn-primary rounded" style="background-color: #567dc4;">
          <i class="bi bi-info-circle-fill" style="margin-bottom: -0.14rem; margin-right: 0.1rem;"></i> 
          Details
        </a>
        <% if (item.doi) { %>
        <a href="<%- item.doi %>" class="btn btn-secondary rounded" target="_blank" rel="noopener noreferrer" style="background-color: #b84f88">
            <% if (['arxiv', 'medrxiv'].includes(item.journal.title.toLowerCase())) { %>
                <iconify-icon icon="academicons:arxiv" style="margin-bottom: -0.15rem;"></iconify-icon>
            <% } else { %>
                <i class="bi bi-file-earmark-text"></i> 
            <% } %>
            DOI
        </a>
        <% } %>
        <% if (item.pdf) { %>
        <a href="<%- item.pdf %>" class="btn btn-secondary rounded" target="_blank" rel="noopener noreferrer" style="background-color: #c45656">
            <i class="bi bi-file-earmark-pdf-fill"></i>
          PDF
        </a>
        <% } %>
    </div>
    <hr>
  </li>
<% } %>
</ul>

```